html {
  background-color: #ffffff;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #000000;
}

main {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #745710;
}

ul {
  padding-left: 1rem;
}